html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
     box-sizing: inherit;
  }
  
p,h1,h2,h3,h4,h5,h6 {
    margin: 0;
  }
  
a {
    display: inline-block;  
    color: inherit;
    text-decoration: none;
  }
  
img {
    max-width: 100%;
    display: block;
    object-fit: cover;
  }
  
body {
    min-width: 320px;
    word-break: normal;
    font-family: 'Roboto', sans-serif;
}
   
  /*_________________________Global_________________________*/
  
.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}
  
.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;

}

:root {
 --white-color: #fff;
 --light-grey: #2a2f37;
 --blue: #1E3DAF;
}

.df-align-justify-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 40px;
}

.bg-color-white {
    background-color: var(--white-color);
}
  /* ________________________header_________________________*/

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.header {
    padding-top: 15px;
    padding-bottom: 15px;
    height: 72px;
    border-radius: 1px solid var(--light-grey) ;
}
.header-wrapper {
    width: 80%; 
}

.search {
    position: relative;
    width: 16px;
    height: 16px;
    border: 2px solid var(--light-grey);
    border-radius: 50%;
}

.search::after {
    content: '';
    bottom: -1px;
    left: 10px;
    position: absolute;
    width: 7px;
    height: 2px;
    border-radius: 20%;
    background-color: #2a2f37;
    transform: rotate(35deg);
}

.btn-styles {
    background-color: var(--blue);
    color: var(--white-color);
    padding: 8px 16px;
}
.header-link {
  font-size: 16px;
  font-style: normal;
  width: 216px;
  height: 40px;

}
.btn-login {
    background: url('../test3/jmg/user.svg') no-repeat left center;
    padding-left: 35px;
    color: var(--light-grey);
    font-size: 14px;
    width: 40px;
    height: 24px;
}

  /* ________________________hero_________________________*/
  
.hero {

}
.bg-image{
    background-image: url('../test3/jmg/Group686.svg');
    background-position: right;
    background-repeat: no-repeat;
    
}

.hero-wrapper{
    display: flex;
    flex-direction: column;
    grid-column: 1 / span 5;
    gap: 40px;
    padding-top:100px;
    padding-bottom: 140px;
    
}

.hero-title {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 16px;
    font-family: 'Roboto Slab', sans-serif;
}

.hero-text {
    font-size: 16px;
    line-height: 24px; 
}

/*___________________Карточки______________*/


.categories-link {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-bottom: 80px;
}