.footer {
  margin: 0 auto;
  max-width: 1170px;
  color: var(--white-color);
  background-color: var(--light-grey);    
}

.footer-wrapper {
  padding: 48px 0 57px 0;
}

.footer-logo {
  width: 419px;
}

.footer-list-link {
  font-size: 16px;
}

.footer-link {
  padding-bottom: 48px;
  border-bottom: 1px solid var(--white-color);
}

.contacts-email {
 padding: 24px 5px 48px 0;
 color: rgba(255,255,255,60%);
 font-size: 12px; 
}

.icon {
  padding-left: 20px;
}

.logo-link {
  padding-right: 40px;
  position: relative;
}

.logo-text {
  padding-left: 40px; 
  color: rgba(255,255,255,60%);
  font-size: 12px; 
}


