.footer {
    background-color: var(--light-grey);
    max-width: 1170px;
    margin: 0 auto;
    color: var(--white-color);
}

.footer-wrapper {
    padding-top: 48px;
    padding-bottom: 57px;
}

.footer-logo {
  width: 419px;
}

.footer-list-link {
  font-size: 16px;
}

.footer-link {
  border-bottom: 1px solid var(--white-color);
  padding-bottom: 48px;
}

.contacts-email {
 padding-top: 24px;
 padding-bottom: 48px;
 padding-right: 5px;
 color: rgba(255,255,255,60%);
 font-size: 12px; 
}

.icon {
   padding-left: 20px;
}

.logo-link {
  padding-right: 40px;
  position: relative;
}

.logo-text {
  padding-left: 40px; 
  color: rgba(255,255,255,60%);
  font-size: 12px; 
}

.hero-search {
  position:absolute;
}