/* ________________________header_________________________*/

.header {
    padding-top: 15px;
    padding-bottom: 15px;
    height: 72px;
    border-radius: 1px solid var(--light-grey);
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.header-wrapper {
    width: 80%; 
}

.search {
    position: relative;
    width: 16px;
    height: 16px;
    border: 2px solid rgba(52, 43, 43, 40%);
    border-radius: 50%;
}

.search::after {
    content: '';
    bottom: -1px;
    left: 10px;
    position: absolute;
    width: 7px;
    height: 2px;
    border-radius: 20%;
    background-color: rgba(52, 43, 43, 40%);
    transform: rotate(35deg);
}

.header-link {
  font-size: 16px;
  font-style: normal;
  width: 216px;
  height: 40px;
}

.btn-login {
    background: url('../jmg/Войти.svg') no-repeat left center;
    padding-left: 35px;
    color: var(--light-grey);
    font-size: 14px;
    width: 72px;
    height: 24px;
}
