/* ________________________hero_________________________*/

.hero {
   background-color: var(--white-color);
}

.bg-image {
   background-image: url("../jmg/Group686.svg");
   background-position: right;
   background-repeat: no-repeat; 
}

.hero-wrapper {
   grid-column: 1 / span 5;
   gap: 40px;
   padding: 100px 0 140px 0;
   display: flex;
   flex-direction: column;
}

.hero-title {
   margin-bottom: 16px;
   font-size: 48px;
   line-height: 56px;
   font-family: 'Roboto Slab', sans-serif;
}

.hero-text {
   font-size: 16px;
   line-height: 24px; 
   color: rgba(42, 47, 45, 80%);
}

.type {
   height: 48px;
   background-color: rgba(42, 47, 45, 2%);
   border: rgba(42, 47, 45, 8%);
   color: rgba(42, 47, 45, 40%);
}

.hero-search-type {
   position: relative;
   display: grid;
   grid-column: 1 / 6;  
}

.hero-search {
   position: absolute;
   top: 12px;
   left: 424px;
}

